<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgc.mapper.CourseMapper">
    <resultMap id="course" type="com.cgc.bean.Course">
        <id column="courseNo" property="courseNo" />
        <result column="courseName" property="courseName"/>
        <result column="coursePriorNo" property="coursePriorNo"/>
        <result column="courseCredit" property="courseCredit"/>
    </resultMap>

    <!--按条件查询-->
    <select id="selectCourse" parameterType="com.cgc.bean.Course" resultType="com.cgc.bean.Course">
        SELECT * FROM course
        <where>
            <if test="courseNo!=null and !&quot;&quot;.equals(courseNo.trim())">
                AND courseNo LIKE '%' #{courseNo} '%'
            </if>
            <if test="courseName!=null and !&quot;&quot;.equals(courseName.trim())">
                AND courseName LIKE '%' #{courseName} '%'
            </if>
            <if test="coursePriorNo!=null and !&quot;&quot;.equals(coursePriorNo.trim())">
                AND coursePriorNo LIKE '%' #{coursePriorNo} '%'
            </if>
        </where>
        ORDER BY courseNo
    </select>

    <insert id="insertCourses" parameterType="java.util.List">
        INSERT INTO course VALUES
            <foreach collection="list" item="course" separator=",">
                (#{course.courseNo},#{course.courseName},#{course.coursePriorNo},#{course.courseCredit})
            </foreach>
    </insert>

    <delete id="deleteCoursesById" parameterType="java.util.List">
        DELETE FROM course WHERE courseNo IN (
        <foreach collection="list" item="item" separator=",">
            "'" #{item} "'"
        </foreach>
        )
    </delete>

    <update id="updateCourse" parameterType="java.util.Map">
        UPDATE course SET
            <foreach collection="_parameter" item="value" index="key" separator=",">
                ${key} = #{value}
            </foreach>
        WHERE courseNo = #{courseNo}
    </update>
</mapper>