<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgc.mapper.CourseMapper">
    <resultMap id="course" type="com.cgc.bean.Course">
        <id column="courseNo" property="courseNo" />
        <result column="courseName" property="courseName"/>
        <result column="coursePriorNo" property="coursePriorNo"/>
        <result column="courseCredit" property="courseCredit"/>
        <result column="course_prior_name" property="coursePriorName"/>
    </resultMap>
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <cache eviction="FIFO"
           size="128"
           readOnly="true"
           flushInterval="60000"/>
    <select id="courseNumber" resultType="java.lang.Integer">
        SELECT count(*) FROM course
        <where>
            <if test="course.courseNo!=null and !&quot;&quot;.equals(course.courseNo.trim())">
                AND courseNo LIKE '%' #{course.courseNo} '%'
            </if>
            <if test="course.courseName!=null and !&quot;&quot;.equals(course.courseName.trim())">
                AND courseName LIKE '%' #{course.courseName} '%'
            </if>
            <if test="course.coursePriorNo!=null and !&quot;&quot;.equals(course.coursePriorNo.trim())and !&quot;&quot;.equals(course.coursePriorNo.trim())">
                AND coursePriorNo LIKE '%' #{course.coursePriorNo} '%'
            </if>
            <if test="course.courseCredit!=null">
                AND courseCredit = #{course.courseCredit}
            </if>
        </where>
    </select>
    <!--按条件查询-->
    <select id="selectCourse" parameterType="com.cgc.bean.Course" resultMap="course">
        SELECT a.courseNo,a.courseName,a.coursePriorNo,b.courseName course_prior_name,a.courseCredit FROM course a
        LEFT JOIN course AS b ON b.courseNo = a.coursePriorNo
        <where>
            <if test="course.courseNo!=null and !&quot;&quot;.equals(course.courseNo.trim())">
                AND a.courseNo LIKE '%' #{course.courseNo} '%'
            </if>
            <if test="course.courseName!=null and !&quot;&quot;.equals(course.courseName.trim())">
                AND a.courseName LIKE '%' #{course.courseName} '%'
            </if>
            <if test="course.coursePriorNo!=null and !&quot;&quot;.equals(course.coursePriorNo.trim())">
                AND a.coursePriorNo LIKE '%' #{course.coursePriorNo} '%'
            </if>
            <if test="course.courseCredit!=null">
                AND a.courseCredit = #{course.courseCredit}
            </if>
            <if test="true">
                AND a.courseNo != '0000'
            </if>
        </where>

        ORDER BY courseNo
        LIMIT #{limit},5
    </select>

    <insert id="insertCourses" parameterType="com.cgc.bean.Course">
        INSERT INTO course VALUES
            (#{courseNo},#{courseName},#{coursePriorNo},#{courseCredit})
    </insert>

    <delete id="deleteCoursesById" parameterType="java.util.List">
        DELETE FROM course WHERE courseNo IN (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <update id="updateCourse" parameterType="java.util.Map">
        UPDATE course SET
            <foreach collection="_parameter" item="value" index="key" separator=",">
                ${key} = #{value}
            </foreach>
        WHERE courseNo = #{courseNo}
    </update>
</mapper>